@font-face {
    font-family: 'GothamPro';
    src: url('fonts/GothaProLig.otf');
}

@font-face {
    font-family: 'GothamPro';
    src: url('fonts/GothaProBol.otf');
    font-weight: bold;
}